@import 'bulma/css/bulma.css';

body {
  //background: #000;
}

.site-header {
  background: #000;
  color: #fff;
}

.site-logo {
  height: 50px;
  width: 50px;
}


#hero {
  //height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(0,0,0,0.7)), center / cover no-repeat url("https://images.drive.com.au/driveau/image/upload/c_fill,f_auto,g_auto,h_886,q_auto:good,w_1400/cms/uploads/7R9bCQA6SoKzDKdpq00P");
}

.title-make, .title-model {
  font-size: 6rem;
}


.test-image {
  align-self: center;
  max-width: 80% !important;
}

.four-corners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem;
  place-items: center;
  margin: 1.6rem 0 2.8rem  0;
}

.four-corners div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .8rem;
}

#contact-sales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-row: auto;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  padding: 1.8rem;
  margin: 1.2rem 0 0 0;
}